<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Interviewing for devs</title>
  </head>
  <body>
  <p>Candidates</p>
  <table>
      <thead>
      <tr>
          <td>Id</td>
          <td>Name</td>
          <td>Surname</td>
          <td>Mail</td>
      </tr>
      </thead>
      <tbody>
      <tr th:each="candidate : ${candidates}">
          <td th:text="${candidate.id}"></td>
          <td th:text="${candidate.name}"></td>
          <td th:text="${candidate.surname}"></td>
          <td th:text="${candidate.email}"></td>
      </tr>
      </tbody>
  </table>
  </body>
</html>
