body, .dropdown-menu {
    background-color: #eaf0f2;
}

.navbar a, p.success, a.green, h2.green, label.green { color: #549809; }

hr {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	border-color: #292c2f;
}

p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  line-height: 1.25;
  font-weight: normal;
}

.center {
    text-align: center;
}

.navbar-toggle .icon-bar {
  background-color: #549809;
}
